<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotin</title>
    <link rel="stylesheet" href="../assets/Main CSS/Ten11.css"> 
</head>
<body>
  <header id="siteHeader">
        <input type="checkbox" id="search-toggle" class="search-toggle-checkbox">
        <nav class="nav">
            <!-- Left: hamburger (mobile) + categories (desktop) -->
            <div class="nav-left">
                <label for="menu-toggle" class="hamburger-btn" aria-label="Open menu">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"
                        stroke-linejoin="round">
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </label>
                <ul class="nav-categories">
                    <li class="has-megamenu">
                        <a href="../../index.html" class="nav-link-women">WOMEN</a>
                        <div class="megamenu">
                            <div class="megamenu-container">
                                <!-- Column 1: New In -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">New In</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html" class="item-red">All</a></li>
                                        <li><a href="../../index.html" class="item-red">Beauty</a></li>
                                        <li><a href="../../index.html">Lifestyle</a></li>
                                        <li><a href="../../index.html">Smart Casual</a></li>
                                        <li><a href="../../index.html">Sportlife</a></li>
                                        <li><a href="../../index.html">New In Top</a></li>
                                        <li><a href="../../index.html">New In Bottom</a></li>
                                        <li><a href="../../index.html">New In Dress</a></li>
                                    </ul>
                                </div>

                                <!-- Column 2: Clothing -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Clothing</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html">All</a></li>
                                        <li><a href="../../index.html">Top</a></li>
                                        <li><a href="../../index.html">Dresses</a></li>
                                        <li><a href="../../index.html">T-Shirts</a></li>
                                        <li><a href="../../index.html">Polo Shirts</a></li>
                                        <li><a href="../../index.html">Shirts & Blouses</a></li>
                                        <li><a href="../../index.html">Jumpsuits</a></li>
                                        <li><a href="../../index.html">Blazers & Jackets</a></li>
                                        <li><a href="../../index.html">Vests & Cardigans</a></li>
                                        <li><a href="../../index.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="../../index.html">Sportswear</a></li>
                                        <li><a href="../../index.html">Skirts & Shorts</a></li>
                                        <li><a href="../../index.html">Trousers</a></li>
                                        <li><a href="../../index.html">Shorts</a></li>
                                        <li><a href="../../index.html">Jeans</a></li>
                                        <li><a href="../../index.html">Sleepwear</a></li>
                                        <li><a href="../../index.html">Undergarment</a></li>
                                    </ul>
                                </div>

                                <!-- Column 3: Accessories -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Accessories</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html">All</a></li>
                                        <li><a href="../../index.html">Bags</a></li>
                                        <li><a href="../../index.html">Belts</a></li>
                                        <li><a href="../../index.html">Caps & Hats</a></li>
                                        <li><a href="../../index.html">Glasses</a></li>
                                        <li><a href="../../index.html">Merchandise</a></li>
                                        <li><a href="../../index.html">Hair Accessories</a></li>
                                    </ul>
                                </div>

                                <!-- Column 4: Shoes -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Shoes</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html">All</a></li>
                                        <li><a href="../../index.html">Running Shoes</a></li>
                                        <li><a href="../../index.html">Heels</a></li>
                                        <li><a href="../../index.html">Sandals</a></li>
                                        <li><a href="../../index.html">Sneakers</a></li>
                                        <li><a href="../../index.html">Flats & Loafers</a></li>
                                        <li><a href="../../index.html">Socks</a></li>
                                    </ul>
                                </div>

                                <!-- Column 5: Shop by collection -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Shop by collection</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html">All</a></li>
                                        <li><a href="../../index.html">CLOCK IT</a></li>
                                        <li><a href="../../index.html">Oxfit Atelier</a></li>
                                    </ul>
                                </div>

                                <!-- Column 6: SALE -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title title-red">SALE</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html" class="item-red">Clothing</a></li>
                                        <li><a href="../../index.html" class="item-red">Accessories</a></li>
                                        <li><a href="../../index.html" class="item-red">Shoes</a></li>
                                        <li><a href="../../index.html" class="item-red">Shop by collection</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-megamenu">
                        <a href="../../index.html">MEN</a>
                        <div class="megamenu">
                            <div class="megamenu-container">
                                <!-- Column 1: New In -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">New In</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html" class="item-red">All</a></li>
                                        <li><a href="../../index.html" class="item-red">Beauty</a></li>
                                        <li><a href="../../index.html">Lifestyle</a></li>
                                        <li><a href="../../index.html">Smart Casual</a></li>
                                        <li><a href="../../index.html">Sportlife</a></li>
                                        <li><a href="../../index.html">New In Top</a></li>
                                        <li><a href="../../index.html">New In Bottom</a></li>
                                        <li><a href="../../index.html">New In Outerwear</a></li>
                                    </ul>
                                </div>

                                <!-- Column 2: Clothing -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Clothing</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html">All</a></li>
                                        <li><a href="../../index.html">Shirts</a></li>
                                        <li><a href="../../index.html">T-Shirts</a></li>
                                        <li><a href="../../index.html">Polo Shirts</a></li>
                                        <li><a href="../../index.html">Blazers & Jackets</a></li>
                                        <li><a href="../../index.html">Vests & Cardigans</a></li>
                                        <li><a href="../../index.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="../../index.html">Sportswear</a></li>
                                        <li><a href="../../index.html">Pants & Sweatpants</a></li>
                                        <li><a href="../../index.html">Trousers</a></li>
                                        <li><a href="../../index.html">Shorts</a></li>
                                        <li><a href="../../index.html">Jeans</a></li>
                                        <li><a href="../../index.html">Boxers</a></li>
                                        <li><a href="../../index.html">Sleepwear</a></li>
                                    </ul>
                                </div>

                                <!-- Column 3: Accessories -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Accessories</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html">All</a></li>
                                        <li><a href="../../index.html">Tie</a></li>
                                        <li><a href="../../index.html">Bags</a></li>
                                        <li><a href="../../index.html">Belts</a></li>
                                        <li><a href="../../index.html">Caps & Hats</a></li>
                                        <li><a href="../../index.html">Glasses</a></li>
                                        <li><a href="../../index.html">Merchandise</a></li>
                                    </ul>
                                </div>

                                <!-- Column 4: Shoes -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Shoes</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html">All</a></li>
                                        <li><a href="../../index.html">Running Shoes</a></li>
                                        <li><a href="../../index.html">Sandals</a></li>
                                        <li><a href="../../index.html">Sneakers</a></li>
                                        <li><a href="../../index.html">Socks</a></li>
                                    </ul>
                                </div>

                                <!-- Column 5: Shop by collection -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Shop by collection</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html">All</a></li>
                                        <li><a href="../../index.html">CLOCK IT</a></li>
                                        <li><a href="../../index.html">Oxfit Atelier</a></li>
                                        <li><a href="../../index.html">Through The Mist</a></li>
                                    </ul>
                                </div>

                                <!-- Column 6: SALE -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title title-red">SALE</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html" class="item-red">Clothing</a></li>
                                        <li><a href="../../index.html" class="item-red">Accessories</a></li>
                                        <li><a href="../../index.html" class="item-red">Shoes</a></li>
                                        <li><a href="../../index.html" class="item-red">Shop by collection</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- KIDS -->
                    <li class="has-megamenu">
                        <a href="../../index.html">KIDS</a>
                        <div class="megamenu">
                            <div class="megamenu-container">
                                <!-- Column 1: Boys -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Boys</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html">All</a></li>
                                        <li><a href="../../index.html">Clothing</a></li>
                                        <li><a href="../../index.html">Accessories</a></li>
                                        <li><a href="../../index.html">Shoes</a></li>
                                        <li><a href="../../index.html" class="item-red">SALE</a></li>
                                    </ul>
                                </div>

                                <!-- Column 2: Girls -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Girls</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="../../index.html">All</a></li>
                                        <li><a href="../../index.html">Hair Accessories</a></li>
                                        <li><a href="../../index.html">Clothing</a></li>
                                        <li><a href="../../index.html">Accessories</a></li>
                                        <li><a href="../../index.html">Shoes</a></li>
                                        <li><a href="../../index.html" class="item-red">SALE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <!-- Center: Logo -->
            <div class="nav-center">
                <a href="../../index.html"><img src="../assets/Img/ZANDO-NEW-LOGO-2025.png" alt="ZANDO"></a>
            </div>

            <!-- Right: search + icons -->
            <div class="nav-right">
                <div class="Search" id="searchTrigger">
                    <label for="search-toggle" class="search-trigger-label" aria-label="Open search">
                        <svg class="search-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                        <span class="search-text-placeholder">Search</span>
                    </label>
                </div>

                <div class="nav-icons">
                    <div class="notifications">
                        <a href="../../index.html">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="Wishlist">
                        <a href="../../index.html">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg>
                        </a>
                    </div>
                    <div class="Order">
                        <a href="../../index.html">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                <line x1="3" y1="6" x2="21" y2="6"></line>
                                <path d="M16 10a4 4 0 0 1-8 0"></path>
                            </svg>
                            <span class="badge">0</span>
                        </a>
                    </div>
                    <div class="User">
                        <a href="../../index.html">LOGIN</a>
                        <a href="../../index.html">REGISTER</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Full-width Search Overlay Bar -->
        <div class="search-overlay-bar" id="searchOverlayBar">
            <div class="search-overlay-container">
                <div class="search-input-wrapper">
                    <input type="text" class="search-overlay-input" id="searchOverlayInput"
                        placeholder="What are you searching for?" autocomplete="off">
                    <div class="search-overlay-actions">
                        <button type="button" class="search-overlay-btn search-submit-btn" aria-label="Submit search">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </button>
                        <label for="search-toggle" class="search-overlay-btn search-close-btn" id="searchCloseBtn"
                            aria-label="Close search">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </header>





    <!-- ============ PRODUCT GRID — CLOTHING ============ -->
    <section class="product-section container" id="clothing">
        <h2 class="section-title">Clothing</h2>
        <p class="section-subtitle">New arrivals, made to last</p>
        <div class="product-grid">
            <!-- Product Card 1 -->
                <div class="product-card">
                    <div class="product-image">
                        <span class="product-tag">New</span>
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/4222605251/10F26SHLW020_White%20(2)-cr-450x672.jpg" alt="Drawstring Long-Sleeve Blouse">
                    </div>
                    <div class="product-info">
                        <h3>Drawstring Long-Sleeve Blouse</h3>
                        <p class="product-price">$21.59</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/4222605249/10F26PCAW013_Black%20(2)-cr-450x672.jpg" alt="Wide-Leg Trousers">
                    </div>
                    <div class="product-info">
                        <h3>Wide-Leg Trousers</h3>
                        <p class="product-price">$26.95</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="product-tag">Sale</span>
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/4222602190/10S26DPSW013_Brown%20(2)-cr-450x672.jpg" alt="Pleated Denim Shorts">
                    </div>
                        <div class="product-info">
                            <h3>Pleated Denim Shorts</h3>
                            <p class="product-price">$21.95</p>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/4222601182/FLATLAT-2.75382-cr-450x672.jpg" alt="Drawstring Long Denim Skirt">
                    </div>
                    <div class="product-info">
                        <h3>Drawstring Long Denim Skirt</h3>
                        <p class="product-price">$27.59</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="product-tag">-20%</span>
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/4222605243/10S26TSSW061_Navy-White-(2)-cr-450x672.jpg" alt="Fine Striped Short-Sleeve Crew Neck T...">
                    </div>
                    <div class="product-info">
                        <h3>Fine Striped Short-Sleeve Crew Neck T...</h3>
                        <p class="product-price"><span class="old-price">$16.95</span>$13.56</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="product-tag">-20%</span>
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/4222605239/10S26PFOW020_Beige%20(2)-cr-450x672.jpg" alt="High-Waisted Loose Wide-Leg Trousers">
                    </div>
                    <div class="product-info">
                        <h3>High-Waisted Loose Wide-Leg Trousers</h3>
                        <p class="product-price"><span class="old-price">$27.95</span>$22.36</p>
                    </div>
                </div>
                <div  class="product-card">
                    <div class="product-image">
                            <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/4222606002/10S26PCAW019_Brown%20(2)-cr-450x672.jpg" alt="High-Waisted Pleated Wide-Leg Trousers">
                    </div>
                    <div class="product-info">
                        <h3>High-Waisted Pleated Wide-Leg Trousers</h3>
                        <p class="product-price">$26.95</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/catalog/products/2026-08/4222604023/10S26KNIW062_Brown-(1).jpg" alt="Short-Sleeve Knit Polo Shirt">
                    </div>
                    <div class="product-info">
                        <h3>Short-Sleeve Knit Polo Shirt</h3>
                        <p class="product-price">$23.59</p>
                    </div>
                </div>
            </div>
        </div>
 
       
    </section>





    <section class="product-section container" id="clothing">
        <h2 class="section-title">Clothing</h2>
        <p class="section-subtitle">New arrivals, made to last</p>
        <div class="product-grid">
            <!-- Product Card 1 -->
                <div class="product-card">
                    <div class="product-image">
                        <span class="product-tag">New</span>
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/12226022723/STU_0730-cr-450x672.jpg" alt="Drawstring Active Shorts">
                    </div>
                    <div class="product-info">
                        <h3>Drawstring Active Shorts</h3>
                        <p class="product-price">$7.95</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/11226021740/STU_0811-cr-450x672.jpg" alt="Relaxed Drawstring Jogger Pants">
                    </div>
                    <div class="product-info">
                        <h3>Relaxed Drawstring Jogger Pants</h3>
                        <p class="product-price">$14.95</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="product-tag">Sale</span>
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/2212602010/STU_7035-cr-450x672.jpg" alt="Striped Sleeveless Crop Top">
                    </div>
                        <div class="product-info">
                            <h3>Striped Sleeveless Crop Top</h3>
                            <p class="product-price">$9.59</p>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/22226052384/STU_7587-cr-450x672.jpg" alt="Wool Blend Coat">
                    </div>
                    <div class="product-info">
                        <h3>Wool Blend Coat</h3>
                        <p class="product-price">$20.95</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/22226022299/STU_9952-cr-450x672.jpg" alt="Oversized Crew Neck Long-Sleeve Tee">
                    </div>
                    <div class="product-info">
                        <h3>Oversized Crew Neck Long-Sleeve Tee</h3>
                        <p class="product-price">$17.59</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/12226032598/STU_1029-cr-450x672.jpg" alt="Tailored Sleeveless Vest">
                    </div>
                    <div class="product-info">
                        <h3>Tailored Sleeveless Vest</h3>
                        <p class="product-price">$16.59</p>
                    </div>
                </div>
                <div  class="product-card">
                    <div class="product-image">
                        <span class="product-tag">New</span>
                            <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/12226042837/STU_1019-cr-450x672.jpg" alt="OFF MODE Cropped Graphic T-Shirt">
                    </div>
                    <div class="product-info">
                        <h3>OFF MODE Cropped Graphic T-Shirt</h3>
                        <p class="product-price">$9.59</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/12226042909/STU_7649-cr-450x672.jpg" alt="Ruched High-Waist Midi Skirt">
                    </div>
                    <div class="product-info">
                        <h3>Ruched High-Waist Midi Skirt</h3>
                        <p class="product-price">$17.59</p>
                    </div>
                </div>
            </div>
        </div>
 
    </section>




    <section class="product-section container" id="clothing">
        <h2 class="section-title">Clothing</h2>
        <p class="section-subtitle">New arrivals, made to last</p>
        <div class="product-grid">
            <!-- Product Card 1 -->
                <div class="product-card">
                    <div class="product-image">
                        <span class="product-tag">New</span>
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/4122604471/10S26DPS008_Brown%20(2)-cr-450x672.jpg" alt="Loose Denim Shorts">
                    </div>
                    <div class="product-info">
                        <h3>Loose Denim Shorts</h3>
                        <p class="product-price">$23.95</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/4122605626/10S26DPS014_L-Indigo-(2)-cr-450x672.jpg" alt="Elastic Drawstring Denim Shorts">
                    </div>
                    <div class="product-info">
                        <h3>Elastic Drawstring Denim Shorts</h3>
                        <p class="product-price">$20.59</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="product-tag">Sale</span>
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/4122606653/10S26PFO017_Navy--(2)-cr-450x672.jpg" alt="Slim Fit Trousers">
                    </div>
                        <div class="product-info">
                            <h3>Slim Fit Trousers</h3>
                            <p class="product-price">$26.95</p>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/catalog/products/2026-08/4122603531/10S26SHL012_Red%20(1).jpg" alt="Textured Long-Sleeve Plaid Shirt">
                    </div>
                    <div class="product-info">
                        <h3>Textured Long-Sleeve Plaid Shirt</h3>
                        <p class="product-price">$23.59</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/catalog/products/2026-08/4122604556/10S26SHS019_White%20(1).jpg" alt="Embroidered Heart Short-Sleeve Shirt">
                    </div>
                    <div class="product-info">
                        <h3>Embroidered Heart Short-Sleeve Shirt</h3>
                        <p class="product-price">$22.59</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/catalog/products/2026-08/4122606593/10S26SHS058_Beige%20(1).jpg" alt="Textured Short-Sleeve Shirt">
                    </div>
                    <div class="product-info">
                        <h3>Textured Short-Sleeve Shirt</h3>
                        <p class="product-price">$25.95</p>
                    </div>
                </div>
                <div  class="product-card">
                    <div class="product-image">
                        <span class="product-tag">New</span>
                            <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/catalog/products/2026-08/4122602580/10S26POL016_Navy%20(1).jpg" alt="Short-Sleeve Tipped Raglan Polo Shirt">
                    </div>
                    <div class="product-info">
                        <h3>Short-Sleeve Tipped Raglan Polo Shirt</h3>
                        <p class="product-price">$24.95</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/catalog/products/2026-08/4122602014/10S26POL012P_Navy-Beige-(1).jpg" alt="Short-Sleeve Striped Cotton Polo Shirt">
                    </div>
                    <div class="product-info">
                        <h3>Short-Sleeve Striped Cotton Polo Shirt</h3>
                        <p class="product-price">$27.95</p>
                    </div>
                </div>
            </div>
        </div>
 
       
    </section>




    <section class="product-section container" id="clothing">
        <h2 class="section-title">Clothing</h2>
        <p class="section-subtitle">New arrivals, made to last</p>
        <div class="product-grid">
            <!-- Product Card 1 -->
                <div class="product-card">
                    <div class="product-image">
                        <span class="product-tag">New</span>
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/11226072044/STU_7763-cr-450x672.jpg" alt="Short-Sleeve Camp Collar Shirt">
                    </div>
                    <div class="product-info">
                        <h3>Short-Sleeve Camp Collar Shirt</h3>
                        <p class="product-price">$14.95</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/11226072043/STU_7182-cr-450x672.jpg" alt="Oversized Crew Neck T-Shirt">
                    </div>
                    <div class="product-info">
                        <h3>Oversized Crew Neck T-Shirt</h3>
                        <p class="product-price">$12.59</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="product-tag">Sale</span>
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/11226062022/STU_7812-cr-450x672.jpg" alt="Oversized Crew Neck T-Shirt">
                    </div>
                        <div class="product-info">
                            <h3>Oversized Crew Neck T-Shirt</h3>
                            <p class="product-price">$13.59</p>
                        </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/11226052037/STU_7709-cr-450x672.jpg" alt="Short-Sleeve Polo Shirt
">
                    </div>
                    <div class="product-info">
                        <h3>Short-Sleeve Polo Shirt</h3>
                        <p class="product-price">$17.95</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/11226052033/STU_7741-cr-450x672.jpg" alt="Textured Short-Sleeve Shirt">
                    </div>
                    <div class="product-info">
                        <h3>Textured Short-Sleeve Shirt</h3>
                        <p class="product-price">$14.95</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/21226041946/STU_9761-cr-450x672.jpg" alt="Oversized Crewneck T-Shirt">
                    </div>
                    <div class="product-info">
                        <h3>Oversized Crew Neck T-Shirt</h3>
                        <p class="product-price">$14.59</p>
                    </div>
                </div>
                <div  class="product-card">
                    <div class="product-image">
                        <span class="product-tag">New</span>
                            <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/21226021824/STU_0346-cr-450x672.jpg" alt="Zip-Front Cropped Jacket">
                    </div>
                    <div class="product-info">
                        <h3>Zip-Front Cropped Jacket</h3>
                        <p class="product-price">$28.59</p>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="https://zand.sgp1.cdn.digitaloceanspaces.com/cache/catalog/products/2026-08/21226021796/STU_0387-cr-450x672.jpg" alt="Relaxed-Fit Crewneck Sweatshirt">
                    </div>
                    <div class="product-info">
                        <h3>Relaxed-Fit Crewneck Sweatshirt</h3>
                        <p class="product-price">$18.95</p>
                    </div>
                </div>
            </div>
        </div>
 
       
    </section>





    <footer class="site-footer">
        <div class="footer-container">
            <!-- Top 5 Columns -->
            <div class="footer-top">
                <!-- Column 1: ZANDO APP -->
                <div class="footer-col">
                    <h4 class="footer-title">ZANDO APP</h4>
                    <div class="qr-code-box">
                        <svg viewBox="0 0 100 100" class="qr-svg" width="90" height="90">
                            <rect width="100" height="100" fill="#ffffff" />
                            <!-- QR Finder Patterns -->
                            <rect x="8" y="8" width="28" height="28" fill="#000" />
                            <rect x="12" y="12" width="20" height="20" fill="#fff" />
                            <rect x="16" y="16" width="12" height="12" fill="#000" />
                            <rect x="64" y="8" width="28" height="28" fill="#000" />
                            <rect x="68" y="12" width="20" height="20" fill="#fff" />
                            <rect x="72" y="16" width="12" height="12" fill="#000" />
                            <rect x="8" y="64" width="28" height="28" fill="#000" />
                            <rect x="12" y="68" width="20" height="20" fill="#fff" />
                            <rect x="16" y="72" width="12" height="12" fill="#000" />
                            <!-- QR Data Elements -->
                            <rect x="40" y="8" width="4" height="4" fill="#000" />
                            <rect x="48" y="8" width="8" height="4" fill="#000" />
                            <rect x="40" y="16" width="8" height="4" fill="#000" />
                            <rect x="52" y="16" width="4" height="8" fill="#000" />
                            <rect x="44" y="24" width="4" height="8" fill="#000" />
                            <rect x="52" y="28" width="8" height="4" fill="#000" />
                            <rect x="8" y="40" width="8" height="4" fill="#000" />
                            <rect x="20" y="40" width="4" height="8" fill="#000" />
                            <rect x="28" y="40" width="8" height="4" fill="#000" />
                            <rect x="40" y="36" width="8" height="8" fill="#000" />
                            <rect x="52" y="36" width="4" height="4" fill="#000" />
                            <rect x="64" y="40" width="8" height="4" fill="#000" />
                            <rect x="76" y="40" width="16" height="4" fill="#000" />
                            <rect x="8" y="48" width="4" height="8" fill="#000" />
                            <rect x="16" y="52" width="12" height="4" fill="#000" />
                            <rect x="36" y="48" width="4" height="8" fill="#000" />
                            <rect x="48" y="44" width="12" height="4" fill="#000" />
                            <rect x="64" y="48" width="8" height="8" fill="#000" />
                            <rect x="76" y="48" width="4" height="4" fill="#000" />
                            <rect x="84" y="52" width="8" height="4" fill="#000" />
                            <rect x="40" y="60" width="4" height="12" fill="#000" />
                            <rect x="48" y="64" width="8" height="4" fill="#000" />
                            <rect x="60" y="60" width="4" height="8" fill="#000" />
                            <rect x="68" y="64" width="8" height="8" fill="#000" />
                            <rect x="80" y="60" width="12" height="4" fill="#000" />
                            <rect x="84" y="68" width="8" height="8" fill="#000" />
                            <rect x="44" y="76" width="8" height="8" fill="#000" />
                            <rect x="56" y="72" width="8" height="4" fill="#000" />
                            <rect x="56" y="80" width="12" height="4" fill="#000" />
                            <rect x="72" y="76" width="8" height="8" fill="#000" />
                            <rect x="84" y="80" width="8" height="12" fill="#000" />
                            <rect x="40" y="88" width="8" height="4" fill="#000" />
                            <rect x="52" y="88" width="4" height="4" fill="#000" />
                            <rect x="64" y="88" width="8" height="4" fill="#000" />
                        </svg>
                    </div>
                </div>

                <!-- Column 2: LOYALTY -->
                <div class="footer-col">
                    <h4 class="footer-title">LOYALTY</h4>
                    <ul class="footer-list">
                        <li>
                            <a href="../../index.html">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <span>Membership & Benefits</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Column 3: FOLLOW US -->
                <div class="footer-col">
                    <h4 class="footer-title">FOLLOW US</h4>
                    <ul class="footer-list">
                        <li>
                            <a href="../../index.html">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <path
                                        d="M14.5 9h-2a1.5 1.5 0 0 0-1.5 1.5V13H9.5v2H11v6h2v-6h1.5l.5-2H13v-1.5a.5.5 0 0 1 .5-.5h1V9z">
                                    </path>
                                </svg>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../index.html">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../index.html">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path d="M9 12a4 4 0 1 0 4 4V4a5 5 0 0 0 5 5"></path>
                                </svg>
                                <span>TikTok</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../index.html">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path
                                        d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z">
                                    </path>
                                    <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02" fill="currentColor">
                                    </polygon>
                                </svg>
                                <span>Youtube</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Column 4: CUSTOMER SERVICES -->
                <div class="footer-col">
                    <h4 class="footer-title">CUSTOMER SERVICES</h4>
                    <ul class="footer-list">
                        <li>
                            <a href="../../index.html">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                                </svg>
                                <span>Online exchange policy</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../index.html">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                                <span>Privacy Policy</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../index.html">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z">
                                    </path>
                                </svg>
                                <span>FAQs & guides</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../index.html">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                    <circle cx="12" cy="10" r="3"></circle>
                                </svg>
                                <span>Find a store</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Column 5: CONTACT US -->
                <div class="footer-col">
                    <h4 class="footer-title">CONTACT US</h4>
                    <ul class="footer-list">
                        <li>
                            <a href="mailto:customer.care@zandokh.com">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path
                                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                    </path>
                                    <polyline points="22,6 12,13 2,6"></polyline>
                                </svg>
                                <span>customer.care@zandokh.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="tel:+855085330330">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path
                                        d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                    </path>
                                </svg>
                                <span>(+855) 085 330 330</span>
                            </a>
                        </li>
                        <li>
                            <a href="../../index.html">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <line x1="22" y1="2" x2="11" y2="13"></line>
                                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                </svg>
                                <span>Telegram</span>
                            </a>
                            <div>Clone By Student: VORN CHANTHOU</div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Bottom Section: WE ACCEPT -->
            <div class="footer-bottom">
                <h4 class="footer-title">WE ACCEPT</h4>
                <div class="payment-methods">
                    <!-- Row 1 -->
                    <div class="payment-row">
                        <span class="pay-card aba-pay">ABA PAY</span>
                        <span class="pay-card visa-card">VISA</span>
                        <span class="pay-card mastercard">
                            <span class="circle circle-red"></span>
                            <span class="circle circle-orange"></span>
                        </span>
                        <span class="pay-card unionpay">UnionPay</span>
                        <span class="pay-card jcb">JCB</span>
                        <span class="pay-card wing-card">wing</span>
                    </div>
                    <!-- Row 2 -->
                    <div class="payment-row">
                        <span class="pay-card wing-bank">wing bank</span>
                        <span class="pay-card chip-mong">
                            <span class="chip-c">C</span>
                        </span>
                        <div class="pay-text-item">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8"
                                class="pay-icon">
                                <line x1="3" y1="21" x2="21" y2="21"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                                <polyline points="5 6 12 3 19 6"></polyline>
                                <line x1="6" y1="10" x2="6" y2="21"></line>
                                <line x1="10" y1="10" x2="10" y2="21"></line>
                                <line x1="14" y1="10" x2="14" y2="21"></line>
                                <line x1="18" y1="10" x2="18" y2="21"></line>
                            </svg>
                            <span>Bank Transfer</span>
                        </div>
                        <div class="pay-text-item">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8"
                                class="pay-icon">
                                <rect x="2" y="6" width="20" height="12" rx="2"></rect>
                                <circle cx="12" cy="12" r="2"></circle>
                                <path d="M6 12h.01M18 12h.01"></path>
                            </svg>
                            <span>Cash on Delivery</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
