<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/Main CSS/Ten11.css"> 
</head>
<body>
  <header id="siteHeader">
        <input type="checkbox" id="search-toggle" class="search-toggle-checkbox">
        <nav class="nav">
            <!-- Left: hamburger (mobile) + categories (desktop) -->
            <div class="nav-left">
                <label for="menu-toggle" class="hamburger-btn" aria-label="Open menu">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"
                        stroke-linejoin="round">
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </label>
                <ul class="nav-categories">
                    <li class="has-megamenu">
                        <a href="#" class="nav-link-women">WOMEN</a>
                        <div class="megamenu">
                            <div class="megamenu-container">
                                <!-- Column 1: New In -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">New In</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#" class="item-red">All</a></li>
                                        <li><a href="#" class="item-red">Beauty</a></li>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Smart Casual</a></li>
                                        <li><a href="#">Sportlife</a></li>
                                        <li><a href="#">New In Top</a></li>
                                        <li><a href="#">New In Bottom</a></li>
                                        <li><a href="#">New In Dress</a></li>
                                    </ul>
                                </div>

                                <!-- Column 2: Clothing -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Clothing</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Top</a></li>
                                        <li><a href="#">Dresses</a></li>
                                        <li><a href="#">T-Shirts</a></li>
                                        <li><a href="#">Polo Shirts</a></li>
                                        <li><a href="#">Shirts & Blouses</a></li>
                                        <li><a href="#">Jumpsuits</a></li>
                                        <li><a href="#">Blazers & Jackets</a></li>
                                        <li><a href="#">Vests & Cardigans</a></li>
                                        <li><a href="#">Hoodies & Sweatshirts</a></li>
                                        <li><a href="#">Sportswear</a></li>
                                        <li><a href="#">Skirts & Shorts</a></li>
                                        <li><a href="#">Trousers</a></li>
                                        <li><a href="#">Shorts</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Sleepwear</a></li>
                                        <li><a href="#">Undergarment</a></li>
                                    </ul>
                                </div>

                                <!-- Column 3: Accessories -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Accessories</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Bags</a></li>
                                        <li><a href="#">Belts</a></li>
                                        <li><a href="#">Caps & Hats</a></li>
                                        <li><a href="#">Glasses</a></li>
                                        <li><a href="#">Merchandise</a></li>
                                        <li><a href="#">Hair Accessories</a></li>
                                    </ul>
                                </div>

                                <!-- Column 4: Shoes -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Shoes</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Running Shoes</a></li>
                                        <li><a href="#">Heels</a></li>
                                        <li><a href="#">Sandals</a></li>
                                        <li><a href="#">Sneakers</a></li>
                                        <li><a href="#">Flats & Loafers</a></li>
                                        <li><a href="#">Socks</a></li>
                                    </ul>
                                </div>

                                <!-- Column 5: Shop by collection -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Shop by collection</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">CLOCK IT</a></li>
                                        <li><a href="#">Oxfit Atelier</a></li>
                                    </ul>
                                </div>

                                <!-- Column 6: SALE -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title title-red">SALE</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#" class="item-red">Clothing</a></li>
                                        <li><a href="#" class="item-red">Accessories</a></li>
                                        <li><a href="#" class="item-red">Shoes</a></li>
                                        <li><a href="#" class="item-red">Shop by collection</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-megamenu">
                        <a href="#">MEN</a>
                        <div class="megamenu">
                            <div class="megamenu-container">
                                <!-- Column 1: New In -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">New In</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#" class="item-red">All</a></li>
                                        <li><a href="#" class="item-red">Beauty</a></li>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Smart Casual</a></li>
                                        <li><a href="#">Sportlife</a></li>
                                        <li><a href="#">New In Top</a></li>
                                        <li><a href="#">New In Bottom</a></li>
                                        <li><a href="#">New In Outerwear</a></li>
                                    </ul>
                                </div>

                                <!-- Column 2: Clothing -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Clothing</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Shirts</a></li>
                                        <li><a href="#">T-Shirts</a></li>
                                        <li><a href="#">Polo Shirts</a></li>
                                        <li><a href="#">Blazers & Jackets</a></li>
                                        <li><a href="#">Vests & Cardigans</a></li>
                                        <li><a href="#">Hoodies & Sweatshirts</a></li>
                                        <li><a href="#">Sportswear</a></li>
                                        <li><a href="#">Pants & Sweatpants</a></li>
                                        <li><a href="#">Trousers</a></li>
                                        <li><a href="#">Shorts</a></li>
                                        <li><a href="#">Jeans</a></li>
                                        <li><a href="#">Boxers</a></li>
                                        <li><a href="#">Sleepwear</a></li>
                                    </ul>
                                </div>

                                <!-- Column 3: Accessories -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Accessories</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Tie</a></li>
                                        <li><a href="#">Bags</a></li>
                                        <li><a href="#">Belts</a></li>
                                        <li><a href="#">Caps & Hats</a></li>
                                        <li><a href="#">Glasses</a></li>
                                        <li><a href="#">Merchandise</a></li>
                                    </ul>
                                </div>

                                <!-- Column 4: Shoes -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Shoes</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Running Shoes</a></li>
                                        <li><a href="#">Sandals</a></li>
                                        <li><a href="#">Sneakers</a></li>
                                        <li><a href="#">Socks</a></li>
                                    </ul>
                                </div>

                                <!-- Column 5: Shop by collection -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Shop by collection</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">CLOCK IT</a></li>
                                        <li><a href="#">Oxfit Atelier</a></li>
                                        <li><a href="#">Through The Mist</a></li>
                                    </ul>
                                </div>

                                <!-- Column 6: SALE -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title title-red">SALE</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#" class="item-red">Clothing</a></li>
                                        <li><a href="#" class="item-red">Accessories</a></li>
                                        <li><a href="#" class="item-red">Shoes</a></li>
                                        <li><a href="#" class="item-red">Shop by collection</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- KIDS -->
                    <li class="has-megamenu">
                        <a href="#">KIDS</a>
                        <div class="megamenu">
                            <div class="megamenu-container">
                                <!-- Column 1: Boys -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Boys</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#" class="item-red">SALE</a></li>
                                    </ul>
                                </div>

                                <!-- Column 2: Girls -->
                                <div class="megamenu-col">
                                    <h4 class="megamenu-title">Girls</h4>
                                    <ul class="megamenu-list">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">Hair Accessories</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#" class="item-red">SALE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <!-- Center: Logo -->
            <div class="nav-center">
                <a href="../../index.html"><img src="../assets/Img/ZANDO-NEW-LOGO-2025.png" alt="ZANDO"></a>
            </div>

            <!-- Right: search + icons -->
            <div class="nav-right">
                <div class="Search" id="searchTrigger">
                    <label for="search-toggle" class="search-trigger-label" aria-label="Open search">
                        <svg class="search-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                        <span class="search-text-placeholder">Search</span>
                    </label>
                </div>

                <div class="nav-icons">
                    <div class="notifications">
                        <a href="#">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="Wishlist">
                        <a href="#">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg>
                        </a>
                    </div>
                    <div class="Order">
                        <a href="#">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                <line x1="3" y1="6" x2="21" y2="6"></line>
                                <path d="M16 10a4 4 0 0 1-8 0"></path>
                            </svg>
                            <span class="badge">0</span>
                        </a>
                    </div>
                    <div class="User">
                        <a href="#">LOGIN</a>
                        <a href="#">REGISTER</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Full-width Search Overlay Bar -->
        <div class="search-overlay-bar" id="searchOverlayBar">
            <div class="search-overlay-container">
                <div class="search-input-wrapper">
                    <input type="text" class="search-overlay-input" id="searchOverlayInput"
                        placeholder="What are you searching for?" autocomplete="off">
                    <div class="search-overlay-actions">
                        <button type="button" class="search-overlay-btn search-submit-btn" aria-label="Submit search">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </button>
                        <label for="search-toggle" class="search-overlay-btn search-close-btn" id="searchCloseBtn"
                            aria-label="Close search">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ============ PRODUCT GRID — CLOTHING ============ -->
    <section class="product-section container" id="clothing">
  <h2 class="section-title">Clothing</h2>
  <p class="section-subtitle">New arrivals, made to last</p>

  <div class="product-grid">

    <div class="product-card">
      <div class="product-image">
        <span class="product-tag">New</span>
        <img src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?auto=format&fit=crop&w=600&q=80" alt="Relaxed Cotton Tee">
      </div>
      <div class="product-info">
        <h3>Relaxed Cotton Tee</h3>
        <p class="product-price">$28.00</p>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <img src="https://images.unsplash.com/photo-1523381294911-8d3cead13475?auto=format&fit=crop&w=600&q=80" alt="Structured Overshirt">
      </div>
      <div class="product-info">
        <h3>Structured Overshirt</h3>
        <p class="product-price">$64.00</p>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <span class="product-tag">Sale</span>
        <img src="https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?auto=format&fit=crop&w=600&q=80" alt="Tapered Denim">
      </div>
      <div class="product-info">
        <h3>Tapered Denim</h3>
        <p class="product-price"><span class="old-price">$78.00</span>$59.00</p>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <img src="https://images.unsplash.com/photo-1551028719-00167b16eac5?auto=format&fit=crop&w=600&q=80" alt="Wool Blend Coat">
      </div>
      <div class="product-info">
        <h3>Wool Blend Coat</h3>
        <p class="product-price">$149.00</p>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <img src="https://images.unsplash.com/photo-1503341504253-dff4815485f1?auto=format&fit=crop&w=600&q=80" alt="Ribbed Knit Sweater">
      </div>
      <div class="product-info">
        <h3>Ribbed Knit Sweater</h3>
        <p class="product-price">$54.00</p>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <img src="https://images.unsplash.com/photo-1516826957135-700dedea698c?auto=format&fit=crop&w=600&q=80" alt="Linen Shirt">
      </div>
      <div class="product-info">
        <h3>Linen Shirt</h3>
        <p class="product-price">$46.00</p>
      </div>
    </div>
    <div  class="product-card">
      <div class="product-image">
        <span class="product-tag">New</span>
        <img src="https://images.unsplash.com/photo-1479064555552-3ef4979f8908?auto=format&fit=crop&w=600&q=80" alt="Utility Jacket">
      </div>
      <div class="product-info">
        <h3>Utility Jacket</h3>
        <p class="product-price">$98.00</p>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <img src="https://images.unsplash.com/photo-1562157873-818bc0726f68?auto=format&fit=crop&w=600&q=80" alt="Straight Leg Trousers">
      </div>
      <div class="product-info">
        <h3>Straight Leg Trousers</h3>
        <p class="product-price">$62.00</p>
      </div>
    </div>
  </div>

  <div class="view-more">
    <a href="#" class="btn btn-outline">View All Clothing</a>
  </div>
    </section>
    <footer class="site-footer">
        <div class="footer-container">
            <!-- Top 5 Columns -->
            <div class="footer-top">
                <!-- Column 1: ZANDO APP -->
                <div class="footer-col">
                    <h4 class="footer-title">ZANDO APP</h4>
                    <div class="qr-code-box">
                        <svg viewBox="0 0 100 100" class="qr-svg" width="90" height="90">
                            <rect width="100" height="100" fill="#ffffff" />
                            <!-- QR Finder Patterns -->
                            <rect x="8" y="8" width="28" height="28" fill="#000" />
                            <rect x="12" y="12" width="20" height="20" fill="#fff" />
                            <rect x="16" y="16" width="12" height="12" fill="#000" />
                            <rect x="64" y="8" width="28" height="28" fill="#000" />
                            <rect x="68" y="12" width="20" height="20" fill="#fff" />
                            <rect x="72" y="16" width="12" height="12" fill="#000" />
                            <rect x="8" y="64" width="28" height="28" fill="#000" />
                            <rect x="12" y="68" width="20" height="20" fill="#fff" />
                            <rect x="16" y="72" width="12" height="12" fill="#000" />
                            <!-- QR Data Elements -->
                            <rect x="40" y="8" width="4" height="4" fill="#000" />
                            <rect x="48" y="8" width="8" height="4" fill="#000" />
                            <rect x="40" y="16" width="8" height="4" fill="#000" />
                            <rect x="52" y="16" width="4" height="8" fill="#000" />
                            <rect x="44" y="24" width="4" height="8" fill="#000" />
                            <rect x="52" y="28" width="8" height="4" fill="#000" />
                            <rect x="8" y="40" width="8" height="4" fill="#000" />
                            <rect x="20" y="40" width="4" height="8" fill="#000" />
                            <rect x="28" y="40" width="8" height="4" fill="#000" />
                            <rect x="40" y="36" width="8" height="8" fill="#000" />
                            <rect x="52" y="36" width="4" height="4" fill="#000" />
                            <rect x="64" y="40" width="8" height="4" fill="#000" />
                            <rect x="76" y="40" width="16" height="4" fill="#000" />
                            <rect x="8" y="48" width="4" height="8" fill="#000" />
                            <rect x="16" y="52" width="12" height="4" fill="#000" />
                            <rect x="36" y="48" width="4" height="8" fill="#000" />
                            <rect x="48" y="44" width="12" height="4" fill="#000" />
                            <rect x="64" y="48" width="8" height="8" fill="#000" />
                            <rect x="76" y="48" width="4" height="4" fill="#000" />
                            <rect x="84" y="52" width="8" height="4" fill="#000" />
                            <rect x="40" y="60" width="4" height="12" fill="#000" />
                            <rect x="48" y="64" width="8" height="4" fill="#000" />
                            <rect x="60" y="60" width="4" height="8" fill="#000" />
                            <rect x="68" y="64" width="8" height="8" fill="#000" />
                            <rect x="80" y="60" width="12" height="4" fill="#000" />
                            <rect x="84" y="68" width="8" height="8" fill="#000" />
                            <rect x="44" y="76" width="8" height="8" fill="#000" />
                            <rect x="56" y="72" width="8" height="4" fill="#000" />
                            <rect x="56" y="80" width="12" height="4" fill="#000" />
                            <rect x="72" y="76" width="8" height="8" fill="#000" />
                            <rect x="84" y="80" width="8" height="12" fill="#000" />
                            <rect x="40" y="88" width="8" height="4" fill="#000" />
                            <rect x="52" y="88" width="4" height="4" fill="#000" />
                            <rect x="64" y="88" width="8" height="4" fill="#000" />
                        </svg>
                    </div>
                </div>

                <!-- Column 2: LOYALTY -->
                <div class="footer-col">
                    <h4 class="footer-title">LOYALTY</h4>
                    <ul class="footer-list">
                        <li>
                            <a href="#">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path
                                        d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                                    </path>
                                </svg>
                                <span>Membership & Benefits</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Column 3: FOLLOW US -->
                <div class="footer-col">
                    <h4 class="footer-title">FOLLOW US</h4>
                    <ul class="footer-list">
                        <li>
                            <a href="#">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <path
                                        d="M14.5 9h-2a1.5 1.5 0 0 0-1.5 1.5V13H9.5v2H11v6h2v-6h1.5l.5-2H13v-1.5a.5.5 0 0 1 .5-.5h1V9z">
                                    </path>
                                </svg>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path d="M9 12a4 4 0 1 0 4 4V4a5 5 0 0 0 5 5"></path>
                                </svg>
                                <span>TikTok</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path
                                        d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z">
                                    </path>
                                    <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02" fill="currentColor">
                                    </polygon>
                                </svg>
                                <span>Youtube</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Column 4: CUSTOMER SERVICES -->
                <div class="footer-col">
                    <h4 class="footer-title">CUSTOMER SERVICES</h4>
                    <ul class="footer-list">
                        <li>
                            <a href="#">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                                </svg>
                                <span>Online exchange policy</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                                <span>Privacy Policy</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z">
                                    </path>
                                </svg>
                                <span>FAQs & guides</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                    <circle cx="12" cy="10" r="3"></circle>
                                </svg>
                                <span>Find a store</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Column 5: CONTACT US -->
                <div class="footer-col">
                    <h4 class="footer-title">CONTACT US</h4>
                    <ul class="footer-list">
                        <li>
                            <a href="mailto:customer.care@zandokh.com">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path
                                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                    </path>
                                    <polyline points="22,6 12,13 2,6"></polyline>
                                </svg>
                                <span>customer.care@zandokh.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="tel:+855085330330">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <path
                                        d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                    </path>
                                </svg>
                                <span>(+855) 085 330 330</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    class="footer-icon">
                                    <line x1="22" y1="2" x2="11" y2="13"></line>
                                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                </svg>
                                <span>Telegram</span>
                            </a>
                            <div>Clone By Student: VANN CHHANU</div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Bottom Section: WE ACCEPT -->
            <div class="footer-bottom">
                <h4 class="footer-title">WE ACCEPT</h4>
                <div class="payment-methods">
                    <!-- Row 1 -->
                    <div class="payment-row">
                        <span class="pay-card aba-pay">ABA PAY</span>
                        <span class="pay-card visa-card">VISA</span>
                        <span class="pay-card mastercard">
                            <span class="circle circle-red"></span>
                            <span class="circle circle-orange"></span>
                        </span>
                        <span class="pay-card unionpay">UnionPay</span>
                        <span class="pay-card jcb">JCB</span>
                        <span class="pay-card wing-card">wing</span>
                    </div>
                    <!-- Row 2 -->
                    <div class="payment-row">
                        <span class="pay-card wing-bank">wing bank</span>
                        <span class="pay-card chip-mong">
                            <span class="chip-c">C</span>
                        </span>
                        <div class="pay-text-item">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8"
                                class="pay-icon">
                                <line x1="3" y1="21" x2="21" y2="21"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                                <polyline points="5 6 12 3 19 6"></polyline>
                                <line x1="6" y1="10" x2="6" y2="21"></line>
                                <line x1="10" y1="10" x2="10" y2="21"></line>
                                <line x1="14" y1="10" x2="14" y2="21"></line>
                                <line x1="18" y1="10" x2="18" y2="21"></line>
                            </svg>
                            <span>Bank Transfer</span>
                        </div>
                        <div class="pay-text-item">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8"
                                class="pay-icon">
                                <rect x="2" y="6" width="20" height="12" rx="2"></rect>
                                <circle cx="12" cy="12" r="2"></circle>
                                <path d="M6 12h.01M18 12h.01"></path>
                            </svg>
                            <span>Cash on Delivery</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>